@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/*
    Aqui definimos as variáveis para coisas que se repetem demais no css
    por exemplo, a cor primaria é a #A30000, então criamos uma variável
    com ela e usamos essa variável sempre que precisamos com var(nome_variavel)
*/
:root {
    --primary: #A30000;
}

/*
    Tutorial
*/
#tutorial{
    background-color: #dcd7d7;
    padding: 30px;
    margin-top: 40px;
}


/*
    Esssa é a seção de padrões. vai criar um input? botão? copiei o html da navbar e
    então os estilos padronizados irão junto.
*/
.button-primary, .button-secondary {
    border-radius: 3px;
    height: 48px;
    border: 2px solid var(--primary);
    padding: 0 16px !important;
}

.button-primary {
    background-color: var(--primary);
    color: white;
}

.button-primary:hover, .button-secondary:hover {
    text-decoration: 2px underline;
}

.button-secondary {
    color: var(--primary);
    background-color: white;
    font-weight: 600;
}

.button-medio {
    padding: 8px 16px !important;
}



/* garante que tudo use a nossa fonte padrão */
* {
    font-family: "Inter", sans-serif;
}


/* Inicio do css da barra superior */
a {
    font-style: normal;
    text-decoration: none !important;
}

.logotipo {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.logo {
    width: 52px;
}

.menu-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    min-height: 84px;
    padding: 0 24px;
    max-width: 1200px;
    margin: auto;
}

.menu-superior > div, .menu-superior > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;;
}

.menu-superior > ul > li > a {
    color: var(--primary);
    padding: 8px;
}

.menu-superior > ul > li > a:hover {
    background-color: var(--primary);
    color: white !important;
}

.ms-buttons {
    display: flex;
    gap: 16px;
}

/* Inicio do css do main */
main {
    padding: 24px;
    margin: auto;
    max-width: 1200px;
}


/* Inicio do css do footer */
footer {
    background-color: var(--primary);
    width: 100%;
    margin: 0;

}

footer > div {
    display: flex;
    color: white;
    gap: 10%;
    padding: 24px;
    align-items: start;
    padding: 52px 24px;
    font-weight: 200;
    font-size: 11pt;
    margin: auto;
    max-width: 1200px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fr-1, .fr-2, .fr-3 {
    display: flex;
    flex-direction: column;
}

.fr-3 .form-control {
    background-color: #ffffff47;
    border: none;
}

.fr-3 .form-control::placeholder {
    color: rgba(255, 255, 255, 0.534);
    font-size: 10pt;
}

.fr-3 .form-outline i {
    position: relative;
    transform: translateY(-175%);
    pointer-events: none;
    right: -220px;
  }

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    gap: 8px;
}

footer ul a {
    color: white;
    padding: 8px;
}

footer ul a:hover {
    background-color: white;
    color: var(--primary);
}

.footer-subtitle {
    font-weight: 600;
    font-size: 12pt;
    padding: 8px;
}

.fl-icons {
    display: flex;
    gap: 16px;
}

.fl-icons i {
    padding: 8px;
}

.fl-icons a {
    text-decoration: none;
    color: white;
}

.fl-icons i:hover {
    background-color: white;
    color: var(--primary);
}




/*
    Início da página principal
*/
main {
    padding: 0;
}

#banner-principal {
    padding: 10%;
    background-image: url('./assets/images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: #ffffff;
    padding: 48px 24px;
    border-radius: 24px;
}

#banner-explicativo {
    padding: 10%;
    background-image: url('./assets/images/banner-explicativo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.jumbotron-explicativo {
    background-color: #ffffff70;
    padding: 48px 24px;
}

#banner-conteudos {
    background-image: url('./assets/images/fundo-conteudo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bc-cards {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 24px;
    margin: 36px;
}

.bcc-card {
    height: 140px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.bcc-card > i {
    font-size: 56pt;
}

.bcc-card.light-green {
    background-color: #B4EFAF;
}

.bcc-card.light-blue {
    background-color: #95E2FB;
}

.bcc-card.light-pink {
    background-color: #FC9A9A;
}

#disciplinas {
    background-image: url('./assets/images/fundo-disciplinas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 36px;
}

#disciplinas .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

#pre-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}

/* página simulado: alternativas verticais */

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#quiz-form {
    width: 50%;
    max-width: 500px;
}

.resultado {
    display: none;
}

#resultado {
    height: 300px;
    width: 400px;
    border: 1px solid #c1c1c1;
    border-radius: 16px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* design do timer */
.timer-container {
    font-family: Arial, sans-serif;
    float: right;

}
#timer {
    font-size: 48px;
    font-weight: bold;
    color: #000;

}


.card-material1{
    background-image: url('./assets/images/biblioteca.jpeg');
}

.card-material2{
    background-image: url('./assets/images/numeros.jpeg');
}

.card-material3{
    background-image: url('./assets/images/globo.jpeg');
}

.card-material4{
    background-image: url('./assets/images/cobra.jpeg');
}



.card-material-estudo{
    z-index: 1;
    display: flex;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 200px;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.materiais-conteudo{
    background-color: #ffffff80;
    border-radius: 20px;
    height: 100%;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.card-materiais-botões{
    display: flex;
    flex-direction: column;
    }

/*
referente a pagina de cadastro
*/
.cadastro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagem-logo-cadastro{
    width: 50%;
    max-width: 240px;
}

#imputs-cadastro{
    display: flex;
    flex-direction: row;
}


/* QUEM SOMOS */
#sobreplataforma {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
}

#sobreplataforma h2 {
    font-size: 24px;
    font-weight: 300;
}

#sobreplataforma h3 {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 300;
}

#sobreplataforma p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

/* #sobrecallit */
#aboutcallit {
    text-align: center;
    margin-bottom: 1.25rem;
    background-color: #00000033;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.about-items {
    display: flex;
    gap: 3rem;
}

.sub-section {
    padding: 0 3rem;
}

#aboutcallit h2 {
    margin-top: 2rem;
    font-size: 1.75rem;
}

#aboutcallit h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

#aboutcallit p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* #desenvolvedores */
#desenvolvedores {
    margin-bottom: 20px;
}

#desenvolvedores h2 {
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#desenvolvedores .developers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#desenvolvedores .developer-card {
    width: 20%;
    text-align: center;
    margin-bottom: 1rem;
}

#desenvolvedores .developer-card img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

#desenvolvedores .developer-card h4 {
    font-size: 16px;
    margin-top: 10px;
}

#desenvolvedores .developer-card p {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.area-estudante{
    display: flex;
    height: 200px;
    padding: 30px;
    margin: 30px auto !important;
    max-width: 800px;
    
}

.area-estudante a,.area-estudante a div{
    height: 100%;
}

.menu-estudantes1{
    background-image: url("./assets/images/livro\ verde.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: 200px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    }

.menu-estudantes2{
    background-image: url("./assets/images/livro\ azul.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: 200px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    }

.menu-estudantes3{
    background-image: url("./assets/images/livro\ rosa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: 200px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    }

.img-matematica{
    background-image: url("./assets/images/numeros\ verde.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    text-shadow: 4px 2px 4px black;

}

.button-matematica{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    max-width: 1000px;
    margin: 24px auto ;
       
    
}

.button-matematica .flex-row button{
    width: 100%;
}

.button-matematica .flex-row{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.row-mensagem{
    width: 67%;
    
}

.cc-address{
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Materiais de Estudo */
 
.materiais-cabecalho{
color:#000;
background-color: #f1f1f1;
padding: 20px;
text-align: center;
font-family: Arial, sans-serif;}

.materiais-conteudo{
    color:#000;
    margin: 20px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif; color: #555;
        
}

.materiais-titulo{
    color: #000;
}

.materiais-button{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;}


