@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/*
referente a pagina de cadastro
*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagem-logo-cadastro{
    width: 50%;
    max-width: 240px;
}


/*
    Aqui definimos as variáveis para coisas que se repetem demais no css
    por exemplo, a cor primaria é a #A30000, então criamos uma variável
    com ela e usamos essa variável sempre que precisamos com var(nome_variavel)
*/
:root {
    --primary: #A30000;
}


/*
    Esssa é a seção de padrões. vai criar um input? botão? copiei o html da navbar e
    então os estilos padronizados irão junto.
*/
.button-primary, .button-secondary {
    border-radius: 3px;
    height: 48px;
    border: 2px solid var(--primary);
    padding: 0 16px !important;
}

.button-primary {
    background-color: var(--primary);
    color: white;
}

.button-primary:hover, .button-secondary:hover {
    text-decoration: 2px underline;
}

.button-secondary {
    color: var(--primary);
    background-color: white;
    font-weight: 600;
}

.button-medio {
    padding: 8px 16px !important;
}



/* garante que tudo use a nossa fonte padrão */
* {
    font-family: "Inter", sans-serif;
}


/* Inicio do css da barra superior */
a {
    font-style: normal;
    text-decoration: none !important;
}

.logotipo {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.logo {
    width: 52px;
}

.menu-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    min-height: 84px;
    padding: 0 24px;
    max-width: 1200px;
    margin: auto;
}

.menu-superior > div, .menu-superior > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;;
}

.menu-superior > ul > li > a {
    color: var(--primary);
    padding: 8px;
}

.menu-superior > ul > li > a:hover {
    background-color: var(--primary);
    color: white !important;
}

.ms-buttons {
    display: flex;
    gap: 16px;
}

/* Inicio do css do main */
main {
    padding: 24px;
    margin: auto;
    max-width: 1200px;
}


/* Inicio do css do footer */
footer {
    background-color: var(--primary);
    width: 100%;
    margin: 0;
}

footer > div {
    display: flex;
    color: white;
    gap: 10%;
    padding: 24px;
    align-items: start;
    padding: 52px 24px;
    font-weight: 200;
    font-size: 11pt;
    margin: auto;
    max-width: 1200px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fr-1, .fr-2, .fr-3 {
    display: flex;
    flex-direction: column;
}

.fr-3 .form-control {
    background-color: #ffffff47;
    border: none;
}

.fr-3 .form-control::placeholder {
    color: rgba(255, 255, 255, 0.534);
    font-size: 10pt;
}

.fr-3 .form-outline i {
    position: relative;
    transform: translateY(-175%);
    pointer-events: none;
    right: -220px;
  }

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    gap: 8px;
}

footer ul a {
    color: white;
    padding: 8px;
}

footer ul a:hover {
    background-color: white;
    color: var(--primary);
}

.footer-subtitle {
    font-weight: 600;
    font-size: 12pt;
    padding: 8px;
}

.fl-icons {
    display: flex;
    gap: 16px;
}

.fl-icons i {
    padding: 8px;
}

.fl-icons a {
    text-decoration: none;
    color: white;
}

.fl-icons i:hover {
    background-color: white;
    color: var(--primary);
}

/*
    Início da página principal
*/
main {
    padding: 0;
}

#banner-principal {
    padding: 10%;
    background-image: url('./assets/images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: #ffffff;
    padding: 48px 24px;
    border-radius: 24px;
}

#banner-explicativo {
    padding: 10%;
    background-image: url('./assets/images/banner-explicativo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.jumbotron-explicativo {
    background-color: #ffffff70;
    padding: 48px 24px;
}

#banner-conteudos {
    background-image: url('./assets/images/fundo-conteudo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bc-cards {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 24px;
    margin: 36px;
}

.bcc-card {
    height: 140px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.bcc-card > i {
    font-size: 56pt;
}

.bcc-card.light-green {
    background-color: #B4EFAF;
}

.bcc-card.light-blue {
    background-color: #95E2FB;
}

.bcc-card.light-pink {
    background-color: #FC9A9A;
}

#disciplinas {
    background-image: url('./assets/images/fundo-disciplinas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 36px;
}

#disciplinas .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

#pre-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}